
## Table of Contents

    Assignment
    Data Exploration and Processing
        Statistical Summary
    Non-Graphical Analysis
        Value Counts
        Unique Attributes
    Graphical Analysis
        Univariate Analysis - Numerical Variables
        Univariate Analysis - Categorical Variables
        Bivariate Analysis
        Multivariate Analysis
    Correlation Analysis
    Marginal & Conditional Probabilities
    Outlier Detection
    Actionable Insights & Recommendations

In [11]:
##Import libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stat
import warnings
warnings.filterwarnings('ignore')
import math
import statistics

In [10]:
## load and read the data
df = pd.read_csv('aerofit_treadmill_data.csv')
df.head(10)

  Product  Age  Gender  Education MaritalStatus  Usage  Fitness  Income  Miles
0   KP281   18    Male         14        Single      3        4   29562    112
1   KP281   19    Male         15        Single      2        3   31836     75
2   KP281   19  Female         14     Partnered      4        3   30699     66
3   KP281   19    Male         12        Single      3        3   32973     85
4   KP281   20    Male         13     Partnered      4        2   35247     47
5   KP281   20  Female         14     Partnered      3        3   32973     66
6   KP281   21  Female         14     Partnered      3        3   35247     75
7   KP281   21    Male         13        Single      3        3   32973     85
8   KP281   21    Male         15        Single      5        4   35247    141
9   KP281   21  Female         15     Partnered      2        3   37521     85

- Result show that:
    Age --> majority in the range of 30s and the olders is 50

In [12]:
# check columns
df.columns

Index(['Product', 'Age', 'Gender', 'Education', 'MaritalStatus', 'Usage',
       'Fitness', 'Income', 'Miles'],
      dtype='object')

In [13]:
## check data types 
df.dtypes

Product          object
Age               int64
Gender           object
Education         int64
MaritalStatus    object
Usage             int64
Fitness           int64
Income            int64
Miles             int64
dtype: object

- result shows that product , gender and martialstatus should be a category

In [26]:
## define a function that converts to category

def cat_converter(df, col):
    df[col] = df[col].astype('category')

# call the function on the columns
cat_converter(df, 'Age')
cat_converter(df, 'Product')
cat_converter(df, 'MaritalStatus')

## check the changes
df.dtypes

Product          category
Age              category
Gender             object
Education           int64
MaritalStatus    category
Usage               int64
Fitness             int64
Income              int64
Miles               int64
dtype: object